[Desktop Entry]
Comment=Kingsoft Pdf Reader
Comment[zh_CN]=WPS PDF阅读器
Exec=env QT_FONT_DPI=192 /usr/bin/wpspdf %F
GenericName=Kingsoft Pdf Reader
GenericName[zh_CN]=WPS PDF
MimeType=application/pdf
Name=WPS PDF
Name[zh_CN]=WPS PDF
StartupNotify=false
Terminal=false
Type=Application
Categories=WordProcessor;Qt;
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Icon=wps-office2023-pdfmain
InitialPreference=3
StartupWMClass=wpspdf
