layout {
    background-color "transparent"

    focus-ring {
        active-color   "#166683"
        inactive-color "#71787d"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#166683"
        inactive-color "#71787d"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#166683"
        inactive-color "#71787d"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#16668380"
    }
}

recent-windows {
    highlight {
        active-color   "#004d66"
        urgent-color   "#ba1a1a"
    }
}